* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 16px/1.8 "Roboto", sans-serif;
}

nav ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.wrapper {
  max-width: 1230px;
  margin: 0 auto;
}

.btn {
  padding: 14px 48px;
  background-color: #e01e2e;
  border-radius: 8px;
  cursor: pointer;
}

.section-heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 40px;
  color: #141515;
}

.header {
  position: relative;
  margin-top: 30px;
}

.header::before {
  margin-top: -30px;
  content: "";
  position: absolute;
  width: 100%;
  height: 990px;
  z-index: -2;
  background: center/cover url("../img/hero-background-top.png");
}

.header::after {
  top: 800px;
  content: "";
  position: absolute;
  width: 100%;
  height: 160px;
  z-index: -1;
  background: center/cover url("../img/hero-background-bottom.svg");
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.header__nav .header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 54px;
}
.header__nav .header__nav-link {
  font-size: 18px;
}

.section-hero {
  color: #ffffff;
  margin-top: 60px;
  height: 683px;
}
.section-hero .container-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  column-gap: 30px;
}
.section-hero .container-hero .header-hero {
  grid-column: 1/span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.section-hero .container-hero .header-hero .header-hero__logo {
  height: 80px;
}
.section-hero .container-hero .header-hero .header-hero__heading {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
}
.section-hero .container-hero .feature-description-hero {
  max-width: 600px;
  height: 325px;
  padding: 25px;
  background: center/cover url("../img/hero-data-background.png");
  border: 2px solid rgba(100, 100, 100, 0.3294117647);
  border-radius: 20px;
}
.section-hero .container-hero .feature-description-hero .feature-icon {
  width: 93px;
  margin-bottom: 25px;
}
.section-hero .container-hero .feature-description-hero .feature-heading {
  margin-bottom: 15px;
}
.section-hero .container-hero .feature-list-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.section-hero .container-hero .feature-list-hero .feature {
  width: 180px;
  height: 167px;
  background-color: rgba(73, 73, 73, 0.7333333333);
  border: 2px solid rgba(100, 100, 100, 0.3294117647);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.section-hero .container-hero .feature-list-hero .feature .feature-icon {
  width: 73px;
}
.section-hero .container-hero .feature-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/*# sourceMappingURL=hero.css.map */
